<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>We Work Together</p>
                <p>Copyright © 2016. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<%- partial('baidu_tongji') %>