<% if (site.tags.length) { %>
    <div id="wrap-tags-list" class="widget-wrap widget-list ">
        <h3 class="widget-title"><%= __('sidebar.tags') %></h3>
        <div class="widget">
            <%- list_tags() %>
        </div>
    </div>
<% } %>
